<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Tus registros </h1>

    <h2>Ingresos:</h2>
    <div>
        <table style="color:cadetblue;">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Concepto</th>
                <th scope="col">Monto</th>
                <th scope="col"> </th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Date</th>
                <td>Concept</td>
                <td>Amount</td>
                <td>Edit</td>
                <td>Delete</td>
              </tr>
              
            </tbody>
        </table>
    </div>

    <h2>Egresos:</h2>
    <div>
        <table style="color:cadetblue;">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Concepto</th>
                <th scope="col">Monto</th>
                <th scope="col"> </th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Date</th>
                <td>Concept</td>
                <td>Amount</td>
                <td>Edit</td>
                <td>Delete</td>
              </tr>
              
            </tbody>
        </table>
    </div>
</body>
</html>