<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Alkemy's Wallet</title>
    </head>
    <body>

  <% if(locals.errorMessage != undefined){%>
    <div class="cajaMensajeError">
        <div class="mensajeError"> <p style= "color:red"> Este mail est치 asociado a una cuenta </p></div>
    </div>
<%}%>

   <h2 class="title_text"> Elimin치 una operaci칩n: </h1>
    <form id="editingForm" action="/delete_operation/<%=operation.id%>" method="POST">
        <div class="input_content">
            <label class="label_input"> En concepto de: </label>
            <input id="editConcept" type="text" name="concept" value="<%=operation.concept%>" readonly>
        </div>
        <div class="input_content">
            <label class="label_input"> Monto: </label>
            <input id="editAmount" type="number" name="amount" value="<%=operation.amount%>" readonly>
        </div>
        <div class="input_content">
            <label class="label_input"> Fecha </label>
            <input id="editDate" type="date" name="date" value="<%=operation.date%>" readonly>
        </div>
        <div class="input_content">
            <button type="submit">Eliminar operaci칩n</button>
       
        </div>



    </form>
    <script src="/javascript/userData.js"></script>

 
</body>
</html>