<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(userToLog){ %>
    <h1> Bienvenido <%= userToLog.name %> </h1>
    <% } else { %>
        <h1> Bienvenido usuario </h1>
    <% } %>
    <h2 id="titleBalance"> Este es tu balance actual</h2>

    <h4 id="currentBalance"> </h4>
    
    <button id="lastRegister"> Últimos movimientos</button>
    <button id="incomeButton"> Ingresos </button> 
    <button id="'outcomeButton"> Egresos </button>
    
    <h2> Tus últimos movimientos</h2>
   
    <div id="tableIncomeOutcome">
      <table id="tableOperations">
   
      </table>

    </div>
  
    <br>
   <div>
    <a href="/new_operation"> <button>Registrá una operación</button></a>
    </div>
    <div>
    <a href="/all_operations"><button> Registro de operaciones </button></a>
    </div>
    <script src="/javascript/allOpTable.js"></script> 
    <script src="/javascript/balance.js"></script> 

</body>

</html>