<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Bienvenido Usuario</h1>

    <h2> Este es tu balance actual</h2>

    <h2> Tus últimos movimiento</h2>

    <a href="/new_operation"> Registrá una operación</a>

    <a href="/all_operations"> Registro de operaciones </a>
</body>
</html>