<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 id="nameUser"> </h1>
    <h2 id="titleBalance"> Este es tu balance actual</h2>

    <h4 id="currentBalance"> </h4>
    
    <a href="/incomes"><button id="incomeButton"> Ingresos </button></a>
    <a href="/outcomes"><button id="'outcomeButton"> Egresos </button></a>
    
    <h2> Tus últimos movimientos</h2>
   
    <div id="tableIncomeOutcome">
      <table id="tableOperations">
   
      </table>

    </div>
  
    <br>
   <div>
    <a href="/new_operation"> <button>Registrá una operación</button></a>
    </div>
    
    <script src="/javascript/allOpTable.js"></script> 
    <script src="/javascript/balance.js"></script>
    <script src="/javascript/userLogged.js"></script> 
    <!-- <script src="/javascript/userData.js"></script>  -->
</body>

</html>