<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> Este es tu registro de ingresos</h1>
    </header>
    <main>
        <div id="editForm">
            <h2> Editar un registro</h2>
            <form>
                <div> <input type="number" id="editId"></div>
                <div>
                    <label> En concepto de: </label>
                    <input id="editConcept" type="text" name="concept">
                </div>
                <div>
                    <label> Monto: </label>
                    <input id="editAmount" type="number" name="amount">
                </div>
                <div>
                    <label> Fecha </label>
                    <input id="editDate" type="date" name="date">
                </div>
                <!-- <div>
                    <input id="typeOp" type="text" name="typeOperation">
                
                </div> -->
                <div>
                    <button id="editOperationSubmit" type="submit">Editar operación</button>
                </div>
    
            </form>
            
        </div>
        <div id="tableIncomes">
            <table id="tableIncomesOperations">
        
            </table>
    
        </div>
    </main>
    <footer></footer>
    <script src="/javascript/incomesOperations.js"></script> 
    <script src="/javascript/editOperation.js"></script> 

</body>
</html>