<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> Este es tu registro de ingresos</h1>
    </header>
    <main>
        <div id="tableIncomes">
            <table id="tableIncomesOperations">
        
            </table>
    
        </div>
    </main>
    <footer></footer>
    <script src="/javascript/incomesOperations.js"></script> 
    <script src="/javascript/editOperation.js"></script>
    <script src="/javascript/deleteOperation.js"></script> 

</body>
</html>