<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Alkemy's Wallet</title>
    </head>
    <body>
        <header>
            <h1 class="title_text"> Este es tu registro de egresos:</h1>
        </header>
        <main>
            <div class="label_input" id="tableOutcomes">
                <table id="tableOutcomesOperations" class="table_style">
            
                </table>
        
            </div>
            <a href="/"><button> Volver </button></a>
        </main>
        <footer></footer>
        <script src="/javascript/outcomesOperations.js"></script> 
    </body>
</html>