<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Este es tu registro de egresos:</h1>

    <div id="tableOutcomes">
        <table id="tableOutcomesOperations">
     
        </table>
  
      </div>
    

    <script src="/javascript/outcomesOperations.js"></script> 


</body>
</html>